<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<security:http auto-config="true" access-denied-page="/fail.jsp"><!-- 当访问被拒绝时，会转到403.jsp -->
		<security:intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/fail.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<!-- 制定登录页面等 -->
		<security:form-login login-page="/login.jsp"  
             authentication-failure-url="/login.jsp?error=true"
             username-parameter="username"
             password-parameter="password"
             login-processing-url="/login.do"
             default-target-url="/index.jsp" />
             
        <security:logout logout-success-url="/login.jsp" /> 
        
    	<security:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
    	
    </security:http> 
   
      <security:authentication-manager alias="authenticationManager">
      	<security:authentication-provider ref="loginAuthenticationProvider">
      	</security:authentication-provider>
	   </security:authentication-manager>
	   
	   <bean id="loginAuthenticationProvider" class="com.feng.security.service.LoginAuthenticationProvider">  
        <property name="userDetailsService" ref="loginUserDetailsServiceImpl"></property>  
    </bean>  
</beans>